/app/.phpunit.cache
/app/node_modules
/app/public/build
/app/public/hot
/app/public/storage
/app/storage/*.key
/app/vendor
/app/.env
/app/.env.backup
/app/.env.production
/app/.phpactor.json
/app/.phpunit.result.cache
/app/Homestead.json
/app/Homestead.yaml
/app/auth.json
/app/npm-debug.log
/appyarn-error.log
/app/.fleet
/app/.idea
/app/.vscode

/environment/logs/*/*.log
